@{
    ViewBag.Title = "Customer Information Page";

}
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h2>Customer Information</h2>

</div>

<div class="row">
    <div class="col-md-1">
       
      
    </div>
    <div class="col-md-10">
       
       
    </div>
    <div class="col-md-1">
       
        
    </div>
</div>